@media only screen and (max-width: 700px) {
    #cards-wrapper {
        flex-direction: column;
        .card {
            width: 90vw;
        }
    }
}
@media only screen and (min-width: 701px) {
    .card {
        width: 80vw;
    }
}
@media only screen and (min-width: 1920px){
    .card {
        h3, input[type=text] {
            font-size: 60px;
        }
        p {
            text-indent: 60px;
            padding: 10px 0;
            font-size: 36px;
            line-height: 44px;
        }
        textarea {
            text-indent: 40px;
            padding: 10px 0;
            font-size: 36px;
            line-height: 44px;
            font-family: Raleway;
        }
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 0 20px #d0a4a9;
    }
    #cards {
        padding: 40px 0;
        h2 {
            font-size: 80px;
        }
    }
}
@media only screen and (max-width: 1919px){
    .card {
        h3, input[type=text] {
            font-size: 30px;
        }
        p {
            text-indent: 30px;
            padding: 5px 0;
            font-size: 18px;
            line-height: 22px;
        }
        textarea {
            text-indent: 20px;
            padding: 5px 0;
            font-size: 18px;
            line-height: 22px;
            font-family: Raleway;
        }
        margin: 10px auto;
        padding: 10px;
        box-shadow: 0 0 10px #d0a4a9;
    }
    #cards {
        padding: 20px 0;
        h2 {
            font-size: 40px;
        }
    }
}
#cards-wrapper {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    place-items: flex-start;
    flex-direction: column;
    justify-content: center;
    .card {
        h3 {
            text-align: center;
            font-family: 'Schoolbell', cursive;
            color: #92677d;
            animation: jiggle .1s linear infinite alternate;
        }
        background-color: white;
        input[type=text] {
            font-weight: 700;
            text-align: center;
            font-family: 'Schoolbell', cursive;
            color: #92677d;
        }
    }
    .card:hover {
        h3 {
            animation-play-state: paused
        }
    }
}
#cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-family: 'Crafty Girls', cursive;
        text-align: center;
        color: #3e3232;
        transform: skewX(10deg);
        display: inline;
        margin: 0 auto;
    }
    button {
        margin: 0 auto;
        display: inline-block;
        padding: 5px 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    form * {
        margin: 2px;
    }
}

@keyframes jiggle {
    0% {
        transform: none;
    }
    50% {
        transform: skewX(10deg) rotateY(15deg);
    }
    100% {
        transform: skewX(15deg) rotateY(15deg) rotate(-2deg);
    }
}