$wiggle: jiggle .1s linear infinite alternate;

@media only screen and (min-width: 1920px) {
    header {
        padding: 14px 0;
        box-shadow: 0 4px 14px rgba(86, 0, 86, 0.5);
        #logo {
            font-size: 50px;
            text-shadow: 0 0 14px rgba(86, 0, 86, 0.4);
        }
        svg {
            width: 100px;
            height: 78px;
        }
        nav {
            width: 800px;
            font-size: 40px;
        }
    }
}
@media only screen and (max-width: 1919px) {
    header {
        padding: 7px 0;
        box-shadow: 0 2px 7px rgba(86, 0, 86, 0.5);
        #logo {
            font-size: 25px;
            text-shadow: 0 0 7px rgba(86, 0, 86, 0.4);
        }
        svg {
            width: 50px;
            height: 39px;
        }
        nav {
            width: 400px;
            font-size: 20px;
        }
        ul {
            justify-content: space-between;
        }
    }
}
@media only screen and (max-width: 600px) {
    header {
        #logo {
            width: auto;
        }
        span {
            display: none;
        }
        li:nth-of-type(3) {
            display: none;
        }
        ul {
            justify-content: space-around;
        }
    }
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fcced3;
    position: relative;
    z-index: 5;

    ul {
        display: flex;
    }

    #logo {
        display: flex;
        align-items: center;
        font-family: 'Schoolbell', cursive;
        justify-content: space-between;
        color: #560056;
        svg {
            fill: rgba(40, 0, 40, 0.5);
        }
        span:hover {
            -webkit-animation: $wiggle;
            animation: $wiggle;
        }
    }
    nav {
        font-family: 'Crafty Girls', cursive;
        li:hover {
            -webkit-animation: $wiggle;
            animation: $wiggle;
        }
        a {
            color: #985c72;
        }
        .active {
            color: #ac296c;
            font-weight: bold;
            cursor: default;
        }
    }
}