@media only screen and (min-width: 1920px) {
    #intro {
        div {
            width: 160px;
            left: calc(50% + 160px);
            bottom: 764px;
            height: 80px;
        }
        #boy {
            width: 1000px;
            left: calc(50% - 500px);
            bottom: -100px;
        }
        #inosuke-head {
            width: 500px;
            padding: 40px;
            left: calc(50% - 200px);
            bottom: 471px;
        }
    }
}

@media only screen and (max-width: 1919px) {
    #intro {
        div {
            width: 80px;
            left: calc(50% + 80px);
            bottom: 384px;
            height: 40px;
        }
        #boy {
            width: 500px;
            left: calc(50% - 250px);
            bottom: -50px;
        }
        #inosuke-head {
            width: 250px;
            padding: 20px;
            left: calc(50% - 100px);
            bottom: 235.5px;
        }
    }
}
#intro {
    height: 100vh;
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    div {
        position: absolute;
        transform: rotate(140deg);
        z-index: 3;
        pointer-events: none;
        background: rgba(255, 255, 0, 0.5);
        border-left: 0.156vw dashed yellow;
    }
}
#boy {
    display: block;
    position: absolute;
    z-index: 1;
}
#inosuke-head {
    cursor: pointer;
    display: block;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    transform: rotate(15deg);
    box-shadow: 0.391vw 0.625vw 0.781vw rgba(0, 0, 0, 0.36);
}
#inosuke-head:active {
    box-shadow: 0.234vw 0.391vw 0.391vw rgba(0, 0, 0, 0.36);
}