footer {
    background-color: #d4cebe;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #908567;
    box-shadow: 0 -1px 7px rgba(113, 106, 86, 0.3);
}