footer {
    background-color: #d4cebe;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #908567;
    box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.25);
}